{include file='public/page_header.htm'}
<body do-page-width="3" class="fr-element fr-view do-page-395440"
      do-phone-nav="do-drop-full"
      do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right"
>
{include file='public/page_nav_mobile.htm'}
<div class="do-container animate">
    {include file='public/page_nav.htm'}
    <script>$('.nav395443').addClass("active");</script>
    {include file='public/page_banner.htm'}
    <div class="do-body">
        <div class="do-section do-area" id="area_395443_0" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_0" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-50-51" id="D-c-50-51">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-t9hxu">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_1" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_1" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-t9dek">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-t9hy6">
                                <div class="do-text-t9hy6">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 22px; color: rgb(200, 54, 36);">广州市摩高网络科技有限公司</span></p>
                                                <p style="text-align: center;"><a href=""><span style="font-size: 16px; color: rgb(102, 102, 102);">我们是做什么</span></a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-t9hy4">
                                <div class="do-element-space pc" style="padding-top:3.6205648081100654%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-t9hy0">
                                <div class="do-text-t9hy0">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;">2014年在广州成立，于2017年变更为广州市摩高网络科技有限公司。</p>
                                                <p style="text-align: center;">&nbsp;公司秉承“客户、创新、务实、诚信、团结”的核心价值观，</p>
                                                <p style="text-align: center;">一直致力于企业互联网应用的相关服务。</p>
                                                <p style="text-align: center;">专门从事企业品牌、电子商务、行业门户等各种类型网站策划、设计、制作及运维，</p>
                                                <p style="text-align: center;">提供全面的基于互联网解决方案的应用服务提供商。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-t9hxz">
                                <div class="do-element-space pc" style="padding-top:5.792903692976104%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-t9hxx">
                                <div class="do-text-t9hxx">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 20px;">公司宣传概念电影</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-t9hxt">
                                <div class="do-element-space pc" style="padding-top:2.896451846488052%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-rows">
                                <div class="do-row">
                                    <div class="do-col-3 do-D-c-18-19-59-60" id="D-c-18-19-59-60">
                                        <div class="do-panelcol">
                                            <div class="do-block do-space do-t9hxq">
                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-col-9 do-D-c-18-19-62" id="D-c-18-19-62">
                                        <div class="do-panelcol">
                                            <div class="do-block do-rows">
                                                <div class="do-row">
                                                    <div class="do-col-6 do-D-c-18-19-62-69" id="D-c-18-19-62-69">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-video do-t9hxs">
                                                                <div class="do-element-video false">
                                                                    <div class="do-element-video-content">
                                                                        <div class="do-element-video-url">
                                                                            <video width="100%" height="100%" controls>
                                                                                <source src="/public/video/concept.mp4"></source> 您的浏览器不支持video标签
                                                                            </video>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-code do-t9hxn">
                                                                <div class="do-element-code">
                                                                    <div class="do-element-code-content">
                                                                        <!--<video id="video1" -webkit-playsinline="" webkit-playsinline="" playsinline="" autoplay="autoplay" preload="auto" loop="loop"><source src="https://www.prored-p.com/video/concept.mp4" type="video/mp4"></video>-->
                                                                        <script>
                                                                            $('.do-element-video-url video')[0].play()
                                                                        </script>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="do-col-3 do-D-c-18-19-62-66-67" id="D-c-18-19-62-66-67">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-space do-t9hxo">
                                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-ta708">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_395443_1{margin-left: 100px;margin-right: 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-t9dei">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_2" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_2" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-83-84" id="D-c-83-84">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta7qj">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_3" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_3" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta7qy">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-ta7qx">
                                <div class="do-text-ta7qx">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="color: rgb(200, 54, 36); font-size: 22px;">公司实力</span></p>
                                                <p style="text-align: center;"><span style="font-size: 16px; color: rgb(102, 102, 102);">值得肯定</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7qw">
                                <div class="do-element-space pc" style="padding-top:3.6205648081100654%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-ta7qt">
                                <div class="do-text-ta7qt">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="line-height: 1.8; text-align: center;">公司拥有一批5年以上互联网从业经验的资深精英团队</p>
                                                <p style="line-height: 1.8; text-align: center;">由一群富有创意、技术和激情的人才组成。</p>
                                                <p style="line-height: 1.8; text-align: center;">4年来，凭借我们资深的网站商务顾问、强大的策划队伍、专业的WEB美工设计、优秀的数据库及程序开发、敬业的客户服务经理等专业团队，</p>
                                                <p style="line-height: 1.8; text-align: center;">以及多年来对互联网络的持续深入研究、对各行业客户的理解、对项目的整体策划控制、对国际化标准和流行趋势的掌握、对客户形象的视觉传递、对应用系统的完美结合等</p>
                                                <p style="line-height: 1.8; text-align: center;">我们能快速的为企、事业单位提供一站式顾问服务。</p>
                                                <p style="line-height: 1.8; text-align: center;">从前期的市场调查、网站定位，到网站建设实施、网络推广宣传、网站运营及公关，</p>
                                                <p style="line-height: 1.8; text-align: center;">乃至后期的网络客户服务与客户关系管理，目前在企业信息化技术水平和网络应用上都处于行内领先水平。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-ta7ql">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_395443_1{margin-left: 100px;margin-right: 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7qk">
                                <div class="do-element-space pc" style="padding-top:8.236101578586135%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_4" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_4" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-88-89" id="D-c-88-89">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta7qe">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_5" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_5" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta7qd">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-ta7qc">
                                <div class="do-text-ta7qc">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 22px; color: rgb(200, 54, 36);">承诺客户</span></p>
                                                <p style="text-align: center;"><span style="font-size: 16px; color: rgb(102, 102, 102);">我们的承诺</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7qb">
                                <div class="do-element-space pc" style="padding-top:3.6205648081100654%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-ta7q8">
                                <div class="do-text-ta7q8">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="line-height: 1.8; text-align: center;">摩高网络是一家专注为中小企业和个体商户提供Saas服务的企业</p>
                                                <p style="line-height: 1.8; text-align: center;">公司自成立以来一直秉承服务于企业，通过WEB建站和微页两大核心产品，结合新型小程序应用产品</p>
                                                <p style="line-height: 1.8; text-align: center;">帮助广大开发者和商户实现互联网营销闭环。</p>
                                                <p style="line-height: 1.8; text-align: center;">以务实、专业的态度，依托强大的技术能力、线上线下推广能力、成功服务于百万企业用户。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-ta7q0">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_395443_1{margin-left: 100px;margin-right: 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7py">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-ta7px">
                                <div class="do-text-ta7px">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 20px;">我们的业务</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7pw">
                                <div class="do-element-space pc" style="padding-top:3.431708991077557%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-rows">
                                <div class="do-row">
                                    <div class="do-col-1 do-D-c-60-61-143-144" id="D-c-60-61-143-144">
                                        <div class="do-panelcol">
                                            <div class="do-block do-space do-tgnzo">
                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-col-11 do-D-c-60-61-146" id="D-c-60-61-146">
                                        <div class="do-panelcol">
                                            <div class="do-block do-rows">
                                                <div class="do-row">
                                                    <div class="do-col-11 do-D-c-60-61-146-153" id="D-c-60-61-146-153">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-list do-ta7pp">
                                                                <div class="do-element-media x num3 phoneRows1 wl-gfwf">
                                                                    <div class="do-element-media-content lg" id="swiper_ta7pp" data-rows="3" data-phonerows="1" data-initialslide="0" data-slidespercolumn="1">
                                                                        <ul class="do-element-media-ul x do-content-grid">
                                                                            <li class="do-element-media-li" data-wow-delay=".0s">
                                                                                <div class="do-element-media-conter clearfix do-caption">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:78.87323943661971%;">
                                                                                            <div class="do-media-image-conter">
                                                                                                <img class="scrollLoading" alt="" data-src="/public/static/bk.image.styleweb.com.cn/2018/6/7/13039_ji4czaq0.jpeg-imageView2-2-w-1065-q-100.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" style="margin-left: -15.7866%; margin-top: 0%; width: 131.573%; height: 100%;" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p>小程序开发</p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p>专业微信小程序解决方案，小程序+公众号一体化微信商城，助力企业快速进入移动社交电商新时代。</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                            <li class="do-element-media-li" data-wow-delay=".1s">
                                                                                <div class="do-element-media-conter clearfix do-caption">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:78.87323943661971%;">
                                                                                            <div class="do-media-image-conter">
                                                                                                <img class="scrollLoading" alt="" data-src="/public/static/bk.image.styleweb.com.cn/2018/6/7/13039_ji48cldh.png-imageView2-2-w-1065-q-100.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" style="margin-left: -14.344%; margin-top: 0%; width: 128.688%; height: 100%;" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p>网站订制</p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p>9大云服务，企业云网站，移动品牌营销专家！云营销、云管理、云创意、云移动、云应用、云安全、云加速、云存储、云办公。</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                            <li class="do-element-media-li" data-wow-delay=".2s">
                                                                                <div class="do-element-media-conter clearfix do-caption">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:78.87323943661971%;">
                                                                                            <div class="do-media-image-conter">
                                                                                                <img class="scrollLoading" alt="" data-src="/public/static/bk.image.styleweb.com.cn/2018/6/7/13039_ji48cs95.png-imageView2-2-w-1065-q-100.png" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" style="margin-left: -22.2681%; margin-top: 0%; width: 144.536%; height: 100%;" />
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p>云供应链</p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p>专注于中高端企业供应链平台开发，系统安全、高效、稳定、结构合理、扩展性强、支持高并发量。</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <style>.do-ta7pp .do-middle-center img { width:100%; }.do-ta7pp .do-title .title { font-size:18px;line-height:1.50em;text-align:center;color:rgb(200, 54, 36); }.do-ta7pp .do-title .des>* { font-size:14px;line-height:1.50em;text-align:center; }</style>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="do-col-1 do-D-c-60-61-146-150-151" id="D-c-60-61-146-150-151">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-space do-tgnzm">
                                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-tgigf">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            .wl-gfwf .do-element-media-li:hover .do-media-image-box{transform: scale(.8);
                                            }
                                            .wl-gfwf .do-element-media-li:hover .do-title{transform: scale(.8);
                                            }
                                            .wl-gfwf .do-element-media-li .do-media-image-box{transition:2s;}
                                            .wl-gfwf .do-element-media-li .do-title{transition:2s;}
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta7pq">
                                <div class="do-element-space pc" style="padding-top:8.716540837336993%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_8" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_8" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-117-118" id="D-c-117-118">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta9on">
                                <div class="do-element-space pc" style="padding-top:5.068790731354091%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395443_9" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_9" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-ta9om">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-ta9ol">
                                <div class="do-text-ta9ol">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 22px; color: rgb(200, 54, 36);">CEO留言</span></p>
                                                <p style="text-align: center;"><span style="font-size: 16px; color: rgb(102, 102, 102);">值代表留言</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta9ok">
                                <div class="do-element-space pc" style="padding-top:3.6205648081100654%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-rows">
                                <div class="do-row spacing11">
                                    <div class="do-col-6 do-D-c-122-123-135" id="D-c-122-123-135">
                                        <div class="do-panelcol">
                                            <div class="do-block do-image do-ta9oe">
                                                <div class="do-element-image do-element-media">
                                                    <div class="do-element-image-content do-html" style="padding-top:68.83509833585477%;">
                                                        <div class="do-image-href sizeimg5">
                                                            <div class="do-middle">
                                                                <div class="do-middle-center">
                                                                    <img class="scrollLoading" data-src="/public/static/images/3007_w2000.jpg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" alt="" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-col-6 do-D-c-122-123-132-133" id="D-c-122-123-132-133">
                                        <div class="do-panelcol">
                                            <div class="do-block do-space do-tljeo">
                                                <div class="do-element-space pc" style="padding-top:6.0606060606060606%;"></div>
                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                            </div>
                                            <div class="do-block do-text do-ta9of">
                                                <div class="do-text-ta9of">
                                                    <div class="do-element-text do-element-general">
                                                        <div class="do-element-text-content do-html">
                                                            <div class="do-html-content">
                                                                <p style="line-height: 1.8;">摩高网络是一家专注为中小企业和个体商户提供Saas服务的企业。</p>
                                                                <p style="line-height: 1.8;">公司自成立以来一直秉承服务于企业，通过WEB建站和微页两大核心产品，结合新型小程序应用产品帮助广大开发者和商户实现互联网营销闭环。</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-ta9oi">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_395443_3{margin:0 100px;}
                                                div#area_395443_5{margin:0 100px;}
                                                div#area_395443_7{margin:0 100px;}
                                                div#area_395443_9{margin:0 100px;}
                                                div#area_395443_11{margin:0 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-ta9oh">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file='public/page_contact.htm'}
    </div>
    {include file='public/page_foot.htm'}
</div>
{include file='public/page_foot_buttom.htm'}
<script type="text/javascript">
    $(function(){
        var wow = new WOW({
            animateClass: 'animated',
            offset: 0,
            callback:function(box) { }
        });
        wow.init();        if(isWeiXin() && bIsAndroid){
            var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
            fullArea.height($(window).height());
        }        if(head.desktop){
            if(!_vm.online) $("#do-online-service").prop("checked",true);
        }else{
            $("#do-online-service").prop("checked",false);
        }
        if(bIsAndroid){
            $(".do-area-videobg").find("video").remove();
            var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
            vodbgObj.each(function(){
                $(this).css('background-image','url("'+$(this).data("vodbg")+'")');
            });
        }
        var weixinBtn = $(".weixinBtn"),
                popwximg = $(".do-popwximg");
        if(weixinBtn.length){
            weixinBtn.on("click",function(e){
                popwximg.show();
            });
            popwximg.on("click",".do-close",function(){
                popwximg.hide();
            });
        }        layer.config({
            path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
            extend: ['skin/style.css'],
            skin: 'layer-zhuzi'
        });
    });    if(typeof _hmt == 'undefined'){
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-03e4f2f8489d3cb343fc1c99966f477b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    }
</script>
</body>
</html>