{include file='public/page_header.htm'}
<body do-page-width="3" class="fr-element fr-view do-page-395440"
      do-phone-nav="do-drop-full"
      do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right"
>
{include file='public/page_nav_mobile.htm'}
<div class="do-container animate">
    {include file='public/page_nav.htm'}
    <script>$('.nav400446').addClass("active");</script>
    {include file='public/page_banner.htm'}
    <div class="do-body">
        <div class="do-section do-area" id="area_396825_0" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_0" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-50-51" id="D-c-50-51">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamwz">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396825_1" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_1" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamwr">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-tamx4">
                                <div class="do-text-tamx4">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 22px; color: rgb(200, 54, 36);">小程序开发</span></p>
                                                <p style="text-align: center;"><span style="font-size: 16px; color: rgb(102, 102, 102);">专业微信小程序解决方案</span><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamx3">
                                <div class="do-element-space pc" style="padding-top:2.1754894851341553%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tamx0">
                                <div class="do-text-tamx0">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="line-height: 1.8; text-align: center;">小程序+公众号一体化微信商城</p>
                                                <p style="line-height: 1.8; text-align: center;">助力企业快速进入移动社交电商新时代</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/f3.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-tamx5">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_396825_1{margin-left: 100px;margin-right: 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwo">
                                <div class="do-element-space pc" style="padding-top:1.4503263234227701%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4j">
                                <div class="do-text-tam4j">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 18px;">小程序电商红利已至，转型还是观望</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">2018小程序成新风口，传统电商商家该如何快速跟上时代的发展，掘金未来。</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">（专业定制开发）</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwm">
                                <div class="do-element-space pc" style="padding-top:1.4134275618374559%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4h">
                                <div class="do-text-tam4h">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;">多渠道流量获取，帮组商家快速获客。</p>
                                                <p style="text-align: center;">可视化组件，搭建商家自由个性化商城</p>
                                                <p style="text-align: center;">社交裂变，助力商家销量倍增</p>
                                                <p style="text-align: center;">强大的会员管理系统，精准化营销</p>
                                                <p style="text-align: center;">渠道追踪数据来源，提升营销效率</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/f4.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4g">
                                <div class="do-element-space pc" style="padding-top:2.1201413427561837%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4f">
                                <div class="do-text-tam4f">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 18px;">完整的在线商城</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">（目标客户数量UP）</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4e">
                                <div class="do-element-space pc" style="padding-top:1.4134275618374559%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4d">
                                <div class="do-text-tam4d">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;">帮您实现搭建自己的品牌商城，与客户直接连接向单一的销售渠道说再见</p>
                                                <p style="text-align: center;">多种促销玩法，帮您实现店铺高活跃、高客单、高复购</p>
                                                <p style="text-align: center;">分享传播，让你的顾客带来更多顾客</p>
                                                <p style="text-align: center;">互动小游戏，让你与客户的距离再近一点</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4c">
                                <div class="do-element-space pc" style="padding-top:3.625815808556925%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/f5.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwq">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396825_2_0" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_2_0" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-83-84" id="D-c-83-84">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamx6">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file='public/page_contact.htm'}
    </div>
    {include file='public/page_foot.htm'}
</div>
{include file='public/page_foot_buttom.htm'}
<script type="text/javascript">
    $(function(){
        var wow = new WOW({
            animateClass: 'animated',
            offset: 0,
            callback:function(box) { }
        });
        wow.init();        if(isWeiXin() && bIsAndroid){
            var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
            fullArea.height($(window).height());
        }        if(head.desktop){
            if(!_vm.online) $("#do-online-service").prop("checked",true);
        }else{
            $("#do-online-service").prop("checked",false);
        }
        if(bIsAndroid){
            $(".do-area-videobg").find("video").remove();
            var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
            vodbgObj.each(function(){
                $(this).css('background-image','url("'+$(this).data("vodbg")+'")');
            });
        }
        var weixinBtn = $(".weixinBtn"),
                popwximg = $(".do-popwximg");
        if(weixinBtn.length){
            weixinBtn.on("click",function(e){
                popwximg.show();
            });
            popwximg.on("click",".do-close",function(){
                popwximg.hide();
            });
        }        layer.config({
            path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
            extend: ['skin/style.css'],
            skin: 'layer-zhuzi'
        });
    });    if(typeof _hmt == 'undefined'){
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-03e4f2f8489d3cb343fc1c99966f477b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    }
</script>
</body>
</html>