{include file='public/page_header.htm'}
<body do-page-width="3" class="fr-element fr-view do-page-395440"
      do-phone-nav="do-drop-full"
      do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right"
>
{include file='public/page_nav_mobile.htm'}
<div class="do-container animate">
    {include file='public/page_nav.htm'}
    <script>$('.nav400446').addClass("active");</script>
    {include file='public/page_banner.htm'}
    <div class="do-body">
        <div class="do-section do-area" id="area_396825_0" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_0" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-50-51" id="D-c-50-51">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamwz">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396825_1" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_1" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamwr">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-tamx4">
                                <div class="do-text-tamx4">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 22px; color: rgb(200, 54, 36);">摩高云</span></p>
                                                <p style="text-align: center;"><span style="font-size: 16px; color: rgb(102, 102, 102);">企业网站2018</span><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamx3">
                                <div class="do-element-space pc" style="padding-top:2.1754894851341553%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tamx0">
                                <div class="do-text-tamx0">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="line-height: 1.8; text-align: center;">9大云服务</p>
                                                <p style="line-height: 1.8; text-align: center;">企业云网站，移动品牌营销专家！</p>
                                                <p style="line-height: 1.8; text-align: center;">企业云网站可帮助企业实现全网营销场景内容覆盖，</p>
                                                <p style="line-height: 1.8; text-align: center;">让企业能通过PC官网、移动站点、产品秀、微博、微信公众号、短视频</p>
                                                <p style="line-height: 1.8; text-align: center;">等多种途径展示企业的生产力，通过与摩高云的云创意库、云应用商店两大应用平台相结合，</p>
                                                <p style="line-height: 1.8; text-align: center;">成为了可同时加载云营销、云管理、云创意、云移动、云应用、云安全、云加速、云存储、云办公</p>
                                                <p style="line-height: 1.8; text-align: center;">这9大云服务的企业全网营销云平台，是企业在移动互联网时代的品牌营销专家。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/w1.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-tamx5">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            @media only screen and (min-width: 640px){
                                                div#area_396825_1{margin-left: 100px;margin-right: 100px;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwo">
                                <div class="do-element-space pc" style="padding-top:1.4503263234227701%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4j">
                                <div class="do-text-tam4j">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 18px;">5核</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">移动双核云网站 + 手机云网站 + PC云网站 + APP云网站 + 微信云网站</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">（专业定制开发）</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwm">
                                <div class="do-element-space pc" style="padding-top:1.4134275618374559%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4h">
                                <div class="do-text-tam4h">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;">帮助企业建设集移动双核云网站、手机云网站、PC云网站、APP云网站、微信云网站于一体的移动5核云网站。</p>
                                                <p style="text-align: center;">让企业品牌及产品覆盖手机、PC、APP、微信，多终端覆盖，移动双核更自在。</p>
                                                <p style="text-align: center;">移动双核云网站，可以智能的根据用户使用不同屏幕终端（手机端或PC端）浏览网站时而改变网站的表现方式，保障用户体验和品牌视觉。</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/w2.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4g">
                                <div class="do-element-space pc" style="padding-top:2.1201413427561837%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4f">
                                <div class="do-text-tam4f">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 18px;">独创"立体创意"，开启网站创意新时代</span></p>
                                                <p style="text-align: center;"><span style="font-size: 18px;">立体创意，任意搭配</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4e">
                                <div class="do-element-space pc" style="padding-top:1.4134275618374559%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam4d">
                                <div class="do-text-tam4d">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;">传统的网页设计，设计完成效果图后，由程序员完成效果，用户确认设计后无法再进行修改，</p>
                                                <p style="text-align: center;">设计修改、网页改版都需要另行收费，这样的创意是高成本的一次性创意。</p>
                                                <p style="text-align: center;">传统的网站设计，修改广告条、页面文字、图片电话等都需要专业设计师把整个页面下载，然后进行修改。这是典型的呆板机械的设计技术。</p>
                                                <p style="text-align: center;">摩高云：开启"立体创意"的网站创意新时代，向定制创意告别，向呆板机械的设计技术 Say Goodbye!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tam4c">
                                <div class="do-element-space pc" style="padding-top:3.625815808556925%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tam49">
                                <div class="do-text-tam49">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p><img class="fr-dib" src="/public/static/images/w3.png" style="width: 555px;" /><br /></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tamwq">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396825_2_0" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_2_0" class="do-row do-row-one">
                <div class="do-row ">
                    <div class="do-col-12 do-D-c-83-84" id="D-c-83-84">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tamx6">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file='public/page_contact.htm'}
    </div>
    {include file='public/page_foot.htm'}
</div>
{include file='public/page_foot_buttom.htm'}
<script type="text/javascript">
    $(function(){
        var wow = new WOW({
            animateClass: 'animated',
            offset: 0,
            callback:function(box) { }
        });
        wow.init();        if(isWeiXin() && bIsAndroid){
            var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
            fullArea.height($(window).height());
        }        if(head.desktop){
            if(!_vm.online) $("#do-online-service").prop("checked",true);
        }else{
            $("#do-online-service").prop("checked",false);
        }
        if(bIsAndroid){
            $(".do-area-videobg").find("video").remove();
            var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
            vodbgObj.each(function(){
                $(this).css('background-image','url("'+$(this).data("vodbg")+'")');
            });
        }
        var weixinBtn = $(".weixinBtn"),
                popwximg = $(".do-popwximg");
        if(weixinBtn.length){
            weixinBtn.on("click",function(e){
                popwximg.show();
            });
            popwximg.on("click",".do-close",function(){
                popwximg.hide();
            });
        }        layer.config({
            path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
            extend: ['skin/style.css'],
            skin: 'layer-zhuzi'
        });
    });    if(typeof _hmt == 'undefined'){
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-03e4f2f8489d3cb343fc1c99966f477b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    }
</script>
</body>
</html>