{include file='public/page_header.htm'}
<body do-page-width="3" class="fr-element fr-view do-page-395440"
      do-phone-nav="do-drop-full"
      do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right"
>
{include file='public/page_nav_mobile.htm'}
<div class="do-container animate">
    {include file='public/page_nav.htm'}
    <script>$('.nav397402').addClass("active");</script>
    {include file='public/page_banner.htm'}
    <div class="do-body">
        <div class="do-section do-area" id="area_396875_0" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_0" class="do-row do-row-one ">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-50-51" id="D-c-50-51">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tap1a">
                                <div class="do-element-space pc" style="padding-top:4.804392587508579%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396875_1" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_1" class="do-row do-row-one ">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-77-78" id="D-c-77-78">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tap12">
                                <div class="do-element-space pc" style="padding-top:8.689355539464156%;"></div>
                                <div class="do-element-space phone" style="padding-top:16.400000000000002%;"></div>
                            </div>
                            <div class="do-block do-text do-tap1d">
                                <div class="do-text-tap1d">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="font-size: 24px; color: rgb(200, 54, 36);">{$news_info.cat_name}</span></p>
                                                <p style="text-align: center;"><span style="color: rgb(102, 102, 102); font-size: 16px;"></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tap1c">
                                <div class="do-element-space pc" style="padding-top:3.6205648081100654%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-text do-tap1b">
                                <div class="do-text-tap1b">
                                    <div class="do-element-text do-element-general">
                                        <div class="do-element-text-content do-html">
                                            <div class="do-html-content">
                                                <p style="text-align: center;"><span style="color: rgb(200, 54, 36); font-size: 20px;">{$news_info.title}</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-tap1e">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            div#area_395443_1{margin-left: 100px;margin-right: 100px;}
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tap0z">
                                <div class="do-element-space pc" style="padding-top:2.0120724346076457%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-rows">
                                <div class="do-row">
                                    <div class="do-col-3 do-D-c-21-22-80-81" id="D-c-21-22-80-81">
                                        <div class="do-panelcol">
                                            <div class="do-block do-space do-tapcv">
                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-col-9 do-D-c-21-22-83" id="D-c-21-22-83">
                                        <div class="do-panelcol">
                                            <div class="do-block do-rows">
                                                <div class="do-row">
                                                    <div class="do-col-6 do-D-c-21-22-83-90" id="D-c-21-22-83-90">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-text do-tap0x">
                                                                <div class="do-text-tap0x">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                {$news_info.content}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--<div class="do-block do-space do-tapcs">
                                                                <div class="do-element-space pc" style="padding-top:5.571030640668524%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapcr">
                                                                <div class="do-text-tapcr">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <p><span style="font-size: 18px;">公司简介</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapcq">
                                                                <div class="do-element-space pc" style="padding-top:2.785515320334262%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapcp">
                                                                <div class="do-text-tapcp">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <table style="width: 100%;">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td style="width: 50%; background-color: rgb(239, 239, 239);">客户行业<br /></td>
                                                                                        <td style="width: 50.0000%;">设施服务<br /></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width: 50%; background-color: rgb(239, 239, 239);">公司规模（销售）<br /></td>
                                                                                        <td style="width: 50.0000%;">大约120亿日元<br /></td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapco">
                                                                <div class="do-element-space pc" style="padding-top:5.571030640668524%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapcn">
                                                                <div class="do-text-tapcn">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <span style="font-size: 18px;">面临的业务挑战</span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapcm">
                                                                <div class="do-element-space pc" style="padding-top:2.785515320334262%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapcl">
                                                                <div class="do-text-tapcl">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <p>在项目开始之前，目标服务处于亏损状态，我们提出了提高价格的额外服务和咨询建议，但效果不佳。因此，我们正在考虑放弃我们的服务并将其外包。</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapck">
                                                                <div class="do-element-space pc" style="padding-top:5.571030640668524%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapch">
                                                                <div class="do-text-tapch">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <p><span style="font-size: 18px;">实现效果</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapci">
                                                                <div class="do-element-space pc" style="padding-top:2.785515320334262%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-tapcj">
                                                                <div class="do-text-tapcj">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <p>在Proled项目执行完成后，目标服务销售额在7个月左右改善了约7000万日元，利润增加了近6000万日元</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-tapcf">
                                                                <div class="do-element-space pc" style="padding-top:2.785515320334262%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="do-col-3 do-D-c-21-22-83-87-88" id="D-c-21-22-83-87-88">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-space do-tapct">
                                                                <div class="do-element-space" style="padding-top:5%;"></div>
                                                            </div>
                                                        </div>
                                                    </div>-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-tap0t">
                                <div class="do-element-space pc" style="padding-top:1.4134275618374559%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                            <div class="do-block do-space do-tap0r">
                                <div class="do-element-space" style="padding-top:5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_396875_2" data-fullname="">
            <div class="do-area-bg ">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_2" class="do-row do-row-one ">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-137-138" id="D-c-137-138">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tap1m">
                                <div class="do-element-space pc" style="padding-top:5.068790731354091%;"></div>
                                <div class="do-element-space phone" style="padding-top:17.1%;"></div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {include file='public/page_contact.htm'}
    </div>
    {include file='public/page_foot.htm'}
</div>
{include file='public/page_foot_buttom.htm'}
<script type="text/javascript">
    $(function(){
        var wow = new WOW({
            animateClass: 'animated',
            offset: 0,
            callback:function(box) { }
        });
        wow.init();        if(isWeiXin() && bIsAndroid){
            var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
            fullArea.height($(window).height());
        }        if(head.desktop){
            if(!_vm.online) $("#do-online-service").prop("checked",true);
        }else{
            $("#do-online-service").prop("checked",false);
        }
        if(bIsAndroid){
            $(".do-area-videobg").find("video").remove();
            var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
            vodbgObj.each(function(){
                $(this).css('background-image','url("'+$(this).data("vodbg")+'")');
            });
        }
        var weixinBtn = $(".weixinBtn"),
                popwximg = $(".do-popwximg");
        if(weixinBtn.length){
            weixinBtn.on("click",function(e){
                popwximg.show();
            });
            popwximg.on("click",".do-close",function(){
                popwximg.hide();
            });
        }        layer.config({
            path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
            extend: ['skin/style.css'],
            skin: 'layer-zhuzi'
        });
    });    if(typeof _hmt == 'undefined'){
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-03e4f2f8489d3cb343fc1c99966f477b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    }
</script>
</body>
</html>