{include file='public/page_header.htm'}
<body do-page-width="3" class="fr-element fr-view do-page-395440"
      do-phone-nav="do-drop-full"
      do-phonenav-slip-direction="left-to-right" do-phonenav-btnalign="do-navBtn-right"
>
{include file='public/page_nav_mobile.htm'}
<div class="do-container animate">
    {include file='public/page_nav.htm'}
    <script>$('.nav395447').addClass("active");</script>
    {include file='public/page_banner.htm'}
    <div class="do-body">
        <div class="do-section do-area" id="area_395447_0" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_0" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-209-210" id="D-c-209-210">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-toote">
                                <div class="do-element-space pc" style="padding-top:5.068790731354091%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395447_1" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_1" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-39-40" id="D-c-39-40">
                        <div class="do-panelcol">
                            <div class="do-block do-rows">
                                <div class="do-row spacing1 col-autoHeight">
                                    <div class="do-col-6 do-D-c-42-43-78-79" id="D-c-42-43-78-79">
                                        <div class="do-panelcol">
                                            <div class="do-block do-rows">
                                                <div class="do-row">
                                                    <div class="do-col-6 do-D-c-42-43-78-79-109" id="D-c-42-43-78-79-109">
                                                        <div class="do-panelcol">
                                                            <div class="do-block do-space do-toj9z">
                                                                <div class="do-element-space pc" style="padding-top:8.368200836820083%;"></div>
                                                                <div class="do-element-space phone hide" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-text do-t7j2d">
                                                                <div class="do-text-t7j2d">
                                                                    <div class="do-element-text do-element-general">
                                                                        <div class="do-element-text-content do-html">
                                                                            <div class="do-html-content">
                                                                                <p><span style="font-family: SimHei; font-size: 22px; color: rgb(200, 54, 36);">联系方式</span></p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-block do-space do-t7j2c">
                                                                <div class="do-element-space pc" style="padding-top:4.091653027823241%;"></div>
                                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                                            </div>
                                                            <div class="do-block do-list do-t7j2j">
                                                                <div class="do-element-media x num1 phoneRows2 listvm wl-ll">
                                                                    <div class="do-element-media-content " id="swiper_t7j2j" data-rows="1" data-phonerows="2" data-initialslide="0" data-slidespercolumn="1">
                                                                        <ul class="do-element-media-ul x do-content-list ">
                                                                            <li class="do-element-media-li" data-wow-delay=".0s">
                                                                                <div class="do-element-media-conter clearfix do-caption ">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:57.2463768115942%;">
                                                                                            <div class="do-media-image-conter sizeimg ">
                                                                                                <div class="do-middle">
                                                                                                    <div class="do-middle-center">
                                                                                                        <img class="scrollLoading" data-src="/public/static/bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8wu.png-imageView2-2-w-414-q-100.png" tppabs="http://bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8wu.png?imageView2/2/w/414/q/100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" alt="" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(102, 102, 102);">公司地址</span></p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(170, 170, 170);">广州市天河区棠下软件园</span></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                            <li class="do-element-media-li" data-wow-delay=".1s">
                                                                                <div class="do-element-media-conter clearfix do-caption ">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:57.2463768115942%;">
                                                                                            <div class="do-media-image-conter sizeimg ">
                                                                                                <div class="do-middle">
                                                                                                    <div class="do-middle-center">
                                                                                                        <img class="scrollLoading" data-src="/public/static/bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8x0.png-imageView2-2-w-414-q-100.png" tppabs="http://bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8x0.png?imageView2/2/w/414/q/100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" alt="" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(102, 102, 102);">联系电话</span></p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(170, 170, 170);">18664728399</span></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                            <li class="do-element-media-li" data-wow-delay=".2s">
                                                                                <div class="do-element-media-conter clearfix do-caption ">
                                                                                    <div class="do-media-image-box o-mask">
                                                                                        <div class="do-media-image" style="padding-top:57.2463768115942%;">
                                                                                            <div class="do-media-image-conter sizeimg ">
                                                                                                <div class="do-middle">
                                                                                                    <div class="do-middle-center">
                                                                                                        <img class="scrollLoading" data-src="/public/static/bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8wz.png-imageView2-2-w-414-q-100.png" tppabs="http://bk.image.styleweb.com.cn/2017/2/25/1587_izkpi8wz.png?imageView2/2/w/414/q/100" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAEElEQVR42gEFAPr/AP///wAI/AL+Sr4t6gAAAABJRU5ErkJggg==" alt="" />
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="do-title do-html-content">
                                                                                        <div class="do-title-body">
                                                                                            <div class="do-title-content do-html-content">
                                                                                                <div class="do-html-content title">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(102, 102, 102);">电子邮箱</span></p>
                                                                                                </div>
                                                                                                <div class="do-html-content des">
                                                                                                    <p><span style="font-family: SimHei; color: rgb(170, 170, 170);">3648263@qq.com</span></p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <style>.do-t7j2j .do-middle-center img { width:22%; }.do-t7j2j .do-title .title { font-size:18px;line-height:1.50em;text-align:left;color:rgb(238, 238, 238); }.do-t7j2j .do-title .des>* { font-size:14px;line-height:1.50em;text-align:left;color:rgb(238, 238, 238); }</style>
                                                            </div>
                                                            <div class="do-block do-code do-tozgi">
                                                                <div class="do-element-code">
                                                                    <div class="do-element-code-content">
                                                                        <style>
                                                                            .wl-ll li.do-element-media-li{margin-left: -55px;}


                                                                            @media only screen and (max-width: 640px){
                                                                                .wl-ll li.do-element-media-li{margin-left: -40px;}
                                                                            }
                                                                        </style>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="do-area-bg">
                                                                <div class="do-area-bg-conter">
                                                                    <div class="bgcolor"></div>
                                                                </div>
                                                            </div>
                                                            <style>.do-D-c-42-43-78-79-109 > .do-panelcol { padding:40px; }</style>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="do-col-6 do-D-c-42-43-81" id="D-c-42-43-81">
                                        <div class="do-panelcol">
                                            <div class="do-block do-space do-toj9y">
                                                <div class="do-element-space pc" style="padding-top:8.080808080808081%;"></div>
                                                <div class="do-element-space phone hide" style="padding-top:5%;"></div>
                                            </div>
                                            <div data-wow-duration="0.4s" data-wow-delay="0s" data-wow-iteration="1" class="do-block wow undefined do-text do-t7j2h">
                                                <div class="do-text-t7j2h">
                                                    <div class="do-element-text do-element-general">
                                                        <div class="do-element-text-content do-html">
                                                            <div class="do-html-content">
                                                                <h3><span style="font-size: 14px; font-family: SimHei; color: rgb(200, 54, 36);">每如果你有什么想要告诉我们的，可以通过下面的方式给我们留言：</span></h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="do-block do-space do-t7j2g">
                                                <div class="do-element-space pc" style="padding-top:0.8163265306122449%;"></div>
                                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                                            </div>
                                            <div class="do-block do-forms do-t7j2i">
                                                <div class="do-element-forms ly-form-border2 align-left do-forms-label-hide">
                                                    <div class="do-noAdapt-content md list">
                                                        <form action="/Index/contact/add"
                                                              id="item_ddc4e41a-5608-47ef-9965-01384c1973e9" method="post"
                                                              class="form do-forms do-product-box list" data-gourl="" data-v="true">
                                                            <div class="do-form-group form-input do-formitem0 do-form-item">
                                                                <label for="form_msg_name">姓名<span style="color:red">*</span></label>
                                                                <input type="text" class="form-control required" name="msg_name" datatype="*" nullmsg="请输入姓名" id="form_msg_name" placeholder="请输入姓名" />
                                                            </div>
                                                            <div class="do-form-group form-input do-formitem1 do-form-item">
                                                                <label for="form_msg_tel">电话<span style="color:red">*</span></label>
                                                                <input type="text" class="form-control required" name="msg_tel" datatype="*" nullmsg="请输入电话" id="form_msg_tel" placeholder="请输入电话" />
                                                            </div>
                                                            <div class="do-form-group form-textarea do-formitem2 do-form-item">
                                                                <label for="form_msg_content">留言<span style="color:red">*</span></label>
                                                                <textarea name="msg_content" id="form_msg_content" class="form-control" datatype="*" nullmsg="请输入留言" placeholder="请输入留言"></textarea>
                                                            </div>
                                                            <div class="do-form-group form-captcha">
                                                                <label for="form_msg_code">验证码<span style="color:red">*</span></label>
                                                                <div id="forms_captcha_ddc4e41a-5608-47ef-9965-01384c1973e9" class="forms_captcha captcha_ddc4e41a-5608-47ef-9965-01384c1973e9" data-lang="zh-cn">
                                                                    <input type="text" name="msg_code" id="form_msg_code" nullmsg="请输入验证码" placeholder="请输入验证码" />
                                                                    <img onclick="this.src='{:captcha_src()}?'+Math.random()" src="{:captcha_src()}" alt="captcha" />
                                                                </div>
                                                            </div>
                                                            <div class="do-form-group form-button">
                                                                <input type="submit" id="btn_ddc4e41a-5608-47ef-9965-01384c1973e9" class="btn btn-success btn-lg btn-block do-bg-black1" value="提交" />
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <style>.do-smwmn .do-element-forms .do-form-item { width:100%; }</style>
                                                <script type="text/javascript">
                                                    var submiting = '提交中';
                                                    var submitSuccess = '提交成功';
                                                    var submitSuccessText = '您已提交成功！';
                                                    var submit = '提交';
                                                    var postage = '邮费';
                                                    var forms_captcha_handler = {};
                                                </script>
                                            </div>
                                            <div class="do-area-bg">
                                                <div class="do-area-bg-conter">
                                                    <div class="bgcolor"></div>
                                                </div>
                                            </div>
                                            <style>.do-D-c-42-43-81 > .do-panelcol { padding:40px; }</style>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-t7j2r">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>

                                            .ly-form-border2 .form-control{background-color: rgba(0,0,0,0);
                                                border-radius: 0;box-shadow:inset 0 1px 1px rgba(0,0,0,0);border: 0;border-bottom: 1px solid #b9b8b8;}

                                            .ly-form-border2.do-element-forms .form-textarea{width: 99% !important;}
                                            .ly-form-border2 .btn{border-radius: 0;}
                                            .ly-form-border2 .do-bg-green{background-color: rgba(0,0,0,0) !important;border:1px solid white;}
                                            .ly-form-border2 textarea.form-control{height: 100px;}
                                            .ly-form-border2 .do-bg-green{height:48px;}

                                            @media only screen and (min-width: 800px){
                                                div#area_395447_1 {
                                                    margin-left: 100px;
                                                    margin-right: 100px;}
                                                .ly-form-border2 .do-form-group{padding:0 10px;}
                                            }

                                            @media only screen and (max-width: 800px){
                                                .align-left{margin-left: 0!important;}
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-code do-t7j2q">
                                <div class="do-element-code">
                                    <div class="do-element-code-content">
                                        <style>
                                            .listvm .do-element-media-conter{display: table;width: 100%;}
                                            .listvm .do-element-media-conter > *{display: table-cell;vertical-align: middle;float: none!important;}


                                            .col-autoHeight{display: table;width: 100%;}
                                            .col-autoHeight > [class*=do-col-]{display: table-cell;height: 100%;float: none;}
                                            .col-autoHeight > [class*=do-col-] > .do-panelcol{position: initial;}
                                        </style>
                                    </div>
                                </div>
                            </div>
                            <div class="do-block do-space do-t7j2p">
                                <div class="do-element-space pc" style="padding-top:4.932378679395385%;"></div>
                                <div class="do-element-space phone" style="padding-top:7.975460122699387%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="do-section do-area" id="area_395447_2" data-fullname="">
            <div class="do-area-bg">
                <div class="do-area-bg-conter">
                    <div class="bgcolor"></div>
                </div>
            </div>
            <div id="area_2" class="do-row do-row-one">
                <div class="do-row">
                    <div class="do-col-12 do-D-c-209-210" id="D-c-209-210">
                        <div class="do-panelcol">
                            <div class="do-block do-space do-tootc">
                                <div class="do-element-space pc" style="padding-top:5.068790731354091%;"></div>
                                <div class="do-element-space phone" style="padding-top:5%;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {include file='public/page_foot.htm'}
</div>
{include file='public/page_foot_buttom.htm'}
<script type="text/javascript">
    $(function(){
        var wow = new WOW({
            animateClass: 'animated',
            offset: 0,
            callback:function(box) { }
        });
        wow.init();        if(isWeiXin() && bIsAndroid){
            var fullArea = $(".do-area-fullHeight .do-row-one > .do-row, .do-slide-full");
            fullArea.height($(window).height());
        }        if(head.desktop){
            if(!_vm.online) $("#do-online-service").prop("checked",true);
        }else{
            $("#do-online-service").prop("checked",false);
        }
        if(bIsAndroid){
            $(".do-area-videobg").find("video").remove();
            var vodbgObj = $(".do-area-videobg .do-area-bg-conter");
            vodbgObj.each(function(){
                $(this).css('background-image','url("'+$(this).data("vodbg")+'")');
            });
        }
        var weixinBtn = $(".weixinBtn"),
                popwximg = $(".do-popwximg");
        if(weixinBtn.length){
            weixinBtn.on("click",function(e){
                popwximg.show();
            });
            popwximg.on("click",".do-close",function(){
                popwximg.hide();
            });
        }        layer.config({
            path: 'http:\/\/bk.st.styleweb.com.cn\/editor/js/layer/',
            extend: ['skin/style.css'],
            skin: 'layer-zhuzi'
        });
    });    if(typeof _hmt == 'undefined'){
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "http://hm.baidu.com/hm.js-03e4f2f8489d3cb343fc1c99966f477b";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    }
</script>
</body>
</html>